/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/css/now-playing-layout.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,300&display=swap');

.now-playing-layout_container__WkLbA {
  padding: 25px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 0px 25px;
  gap: 0px 25px;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  grid-template-areas:
    "artwork header"
    "artwork artist"
    "artwork title"
    "artwork label";
}

.now-playing-layout_header__C45DW {
  grid-area: header;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 50px;
  padding: 0px 10px;
  line-height: 55px;
  margin-top: -5px;
  background: red;
}

.now-playing-layout_artwork__Jtlrs { grid-area: artwork; }

.now-playing-layout_artist__wISt6 {
  grid-area: artist;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
}

.now-playing-layout_title__Brqbg {
  grid-area: title;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  margin-top: -10px;
}

.now-playing-layout_label__TB5SM {
  grid-area: label;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-style: italic;
}

.now-playing-layout_fade-in-left__3ridj {
	animation: now-playing-layout_fade-in-left__3ridj 0.75s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.now-playing-layout_fade-in__j_M2R {
	animation: now-playing-layout_fade-in__j_M2R 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@keyframes now-playing-layout_fade-in__j_M2R {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@keyframes now-playing-layout_fade-in-left__3ridj {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

