name: Bump Version, Build & Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  bump-build-push:
    runs-on: ubuntu-latest

    steps:
    # Checkout the code
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Ensure clean working directory
      run: |
        git reset --hard
        git clean -fd
        git status

    - name: Set Git user identity
      run: |
        git config --global user.email "contact@andyfarthing.com"
        git config --global user.name "Andy Farthing"

      # Install dependencies
    - name: Install dependencies
      run: npm install

    # Bump version
    - name: Bump version and create git commit
      run: |
        NEW_VERSION=$(npm version patch -m "ci: Bump version to %s")
        git push --follow-tags

    # Set up Node.js environment
    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 22

    # Log in to GitHub Container Registry
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    # Build Docker image with both latest and version tags
    - name: Build Docker image
      run: |
        docker build -t ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:latest \
                     -t ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:${{ env.VERSION }} .

    # Push Docker image to GHCR
    - name: Push Docker image
      run: |
        docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:latest
        docker push ghcr.io/${{ github.repository_owner }}/${{ github.repository }}:${{ env.VERSION }}

    # Push updated package.json with bumped version back to the repository
    - name: Push updated version
      run: |
        git config user.name "${{ github.actor }}"
        git config user.email "${{ github.actor }}@users.noreply.github.com"
        git add package.json
        git commit -m "ci: Bump version to ${{ env.VERSION }}"
        git push origin master
